{% extends 'layout.html' %}


{% block title %}

    videos page

{% endblock %}


{% block content %}

    <div class="left-sidebar">
        
        {% for video in videos %}

        <a href="#" onclick='playVideo("{{video.embed_code}}")'>

            <div class="side-video">
                <img src="{{ video.video_thumbnail.url }}" >
                <span class="title">{{video.title|truncatechars:40}}</span>
            </div>

        </a>
    
        {% endfor %}


        

    </div>

    
  
    <div style="display: flex; justify-content: center;">
      <iframe allow="encrypted-media"  referrerpolicy="no-referrer-when-downgrade" id="embeded-video"  src="" frameborder="0" style="width: 600px; height: 400px; margin-top: 100px;"></iframe>
    </div>
      



{% endblock %}